
h2 {
    margin-bottom: 2rem;
}
.board_container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }
  
.task_container {
display: flex;
flex-direction: column;
}

.task {
border: 1px solid #ccc;
border-radius: 4px;
padding: 10px;
margin-bottom: 10px;
background-color: #f9f9f9;
}

.todo_column,
.done_column {
width: 45%;
}

.todo_column {
background-color: #f0f0f0;
}

.done_column {
background-color: #e0e0e0;
}


/* BoardPage.css */

/* Modal styles */
.modal {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
  }
  
  .modal-content {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Box shadow */
    width: 30%;
  }

  .modal form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 100%;
  }
  
  .close {
    position: absolute;
    top: 13rem;
    right: 30rem;
    font-size: 25px;
    font-weight: bold;
    cursor: pointer;
  }
  
  /* Button styles */
  button {
    background-color: #4caf50; /* Green background */
    color: white; /* White text */
    padding: 10px 20px; /* Padding */
    border: none; /* No border */
    border-radius: 5px; /* Rounded corners */
    cursor: pointer; /* Cursor on hover */
    margin-bottom: 10px; /* Add some space below the button */
  }
  
  button:hover {
    background-color: #45a049; /* Darker green background on hover */
  }
  
  button:focus {
    outline: none; /* Remove default focus style */
  }

.logout {
    background-color:  rgb(164, 14, 14);
    margin-left: 80%;
}
.logout:hover {
    background-color: red ;
}

  